# 🛑 Исключаем виртуальную среду
venv/

# 🧠 Исключаем модели
models/*.h5
models/*.joblib

# 📊 Исключаем логи и временные данные
logs/
__pycache__/
.ipynb_checkpoints/

# 🧪 Исключаем Jupyter временные файлы
*.checkpoint.ipynb
*.ipynb~

# 💣 Игнорируем .env или ключи
.env
archive/